 body{
    background-image: url("../images/back2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#olx{
    border-radius: 50%;
}
#bar{
    margin-left: 60%;
}
.chat{
    color: darkgreen;
    height: 400px;
    margin-top: 5%;
    border: 2px solid gray;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px 3px gray;
}
#prev{
    /* border-bottom: 6px solid lightblue; */
    width: 50%;
    /* align-self: auto; */
}
.chatDiv{
    border: 1px solid #000;
    background-color: #323356;
    color: white;
    border-radius: 20px; 
}
#input{
    width: 41%;
    overflow: hidden;
}
#submited{
    width: 12.2%;
}
form{
    text-align: center;
    margin-right: 3.5%;
}
#send{
    border-radius: 10px;
    text-align: right;
    margin-left: 70%;
}