body{
    background-image: url("images/back2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#olx{
    border-radius: 50%;
}
#bar{
    margin-left: 70%;
}
#img{
    display: flex;
    flex-direction: row;
}
#img li{
    flex: 1;
    margin-left: 10%;
    margin-top: 2%;
}
#img1{
    display: flex;
    flex-direction: row;
}
#img1 li{
    flex: 1;
    margin-right: 10%;
    margin-top: 2%;
}
p{
    color: darkred;
}
a{
    color: darkred;
}

@media(max-width: 526px){
    #bar{
        display :none !important;
           
}  
#images{
    margin-top: 50px;
       
}  
}