body{
    background-image: url("../images/rent.png");
    background-repeat: no-repeat;
    background-position: right;
}
#olx{
    border-radius: 50%;
}
#bar{
    margin-left: 60%;
}
.imagesAdds{
    border-radius: 10%; 
}
.container .addsDiv{
    box-sizing: content-box;
    text-align: center;
}
.addsDiv{
    background-color: transparent;
    text-align: center;
    border: 1px solid lightgray;
    width: 40%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    box-shadow: 3px 3px 2px 2px lightgray; 
}
.imagesAdds{
    width: 100%;
}
.addsDiv{
    background-color: #DCDCDC;
}
@media(max-width: 526px){
    #bar{
        display :none !important;
    }
        #btn{
            margin-right: 37%; 
            margin-top: 2%;
        }
        
        #bar{
            display: none;
            margin-right: 80%;
        }
        #home{
            margin-top: 2%;
        }
        
} 
@media(max-width: 768px){
    #bar{
        display :none !important;
    }
        #btn{
            margin-right: 37%; 
            margin-top: 2%;
        }
        
        #bar{
            display: none;
            margin-right: 80%;
        }
        #home{
            margin-top: 2%;
        }
        
} 