body{
    background-image: url("../images/back2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#olx{
    border-radius: 50%;
}
#bar{
    margin-left: 60%;
}
#btn-let{
    width: 50%;
    margin-left: 26%;
}
#searchbyname{
    width: 50%;
    margin-left: 25%;
}
#catagoryForSearch{
    width: 50%;
    margin-left: 25%;
}
#logout{
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15x;
}
.imagesAdds{
    border-radius: 50%;
    box-shadow: 3px 3px 2px 2px black;
    width: 25%;
    background-color: beige;
    border: none;
    flex: 2;
    margin-top: 5%;
}
#divAdds{
    color: lightcoral;
    width: 50%;
    margin-left: 5%;
    /* border-radius: 5%; */
    display: flex;
    font-weight: bolder;
    box-sizing: border-box; 
    background-color: lightgray;
}
#divAdds .details{
    text-align: right;
    flex: 1;
}

@media (max-width:425px){
    #logout{
        margin-right: 10%;
        margin-top: 5%; 
    }
    #bar{
        display: none !important;
    }
    #btn{
        margin-top: 5%;

    }
}
